*{
    margin: 0;
    padding: 0;
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Water Brush', cursive;     */
/* font-family: sans-serif; */
}
.header{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),#009688), url("images/banner.jpg");
    background-position: center;
    background-size: cover;
    padding: 4% 13%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Kaushan Script', cursive;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.content1{
    position: absolute;
    top: 27%;
    left: 32.5%;
    text-align: center;
    color: white;
}
.content1 h1{
    font-size: 100px;
    margin-bottom: 25px;
}
.content1 p{
    letter-spacing: 1.5;
    word-spacing: 1.4;
    margin-bottom: 70px;
    font-size: 20px;
}
.btns a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.btns a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: 0.5s;
    z-index: -1;
}
.btns a:hover span{
    width: 100%;
}
.btns a:hover{
    width: 100%;
    color: #009688;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
#menubtn{
    width: 50px;
    height: 50px;
    text-align: center;
    background: #009688;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 3;
    border-radius: 3px;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}
.features{
    font-family: sans-serif;
    width: 80%;
    margin: 10% auto;
    text-align: center;
}
.head{
    position: relative;
    margin-bottom: 30px;
}
.features h3{
    color: #009688;
    font-size: 20px;
    opacity: 1;
}
.head i{
    position: absolute;
    top: -15px;
    left: 44%;
    color: #059c8def;
    font-size: 40px;
    opacity: 0.5;
}
.features h1{
    margin-bottom: 80px;
}
.content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    flex-basis: 45%;
}
.col img{
    max-width: 350px;
    border-radius: 10px;
}
.left{
    text-align: left;
}
.para{
    font-size: 25px;
    color: #009688;
    margin: 17px auto;
}
.left i{
    font-size: 20px;
    padding: 15px;
    border: 2px solid #009688;
    margin-bottom: 15px;
    border-radius: 4px;
    color: #009688;
    margin-right: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.first,.second,.third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
}
.services{
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15%;
    text-align: center;
    background-color: rgb(237, 237, 237);
}

.services h1{
    margin-bottom: 80px;
}

.services h2{
    color: #009688;
    font-size: 20px;
    opacity: 1;
}
/* .content3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.singleservice{
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.singleservice img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    height: 100%;
    width: 100%;
    border-radius: 7px;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}
.singleservice:hover .overlay{
    opacity: 1;
}
.servicedescription{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
    color: white;
    opacity: 0;
    transition: 1s;
}
.servicedescription hr{
    width: 60%;
    height: 2px;
    border: none;
    background-color: white;
    margin: 15px auto;
}
.singleservice:hover .servicedescription{
    opacity: 1;
    bottom: 40%;
} */
.content3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.singleservice{
    flex-basis: 48%;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}
.content3 img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.5),#009688) ;
    opacity: 0;
    transition: 1s;
}
.singleservice:hover .overlay{
    opacity: 1;
}
.servicedescription{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    color: white;
    opacity: 0;
    transition: 1s;
}
.servicedescription hr{
    width: 60%;
    height: 2px;
    border: none;
    background-color: white;
    margin: 15px auto;
}
.singleservice:hover .servicedescription{
    opacity: 1;
    bottom: 40%;
}

.reviews{
    font-family: sans-serif;
    width: 80%;
    margin: 70px auto;
    text-align: center;
}
.reviews h1{
    margin-bottom: 80px;
    margin-top: 30px;
}

.reviews h2{
    color: #009688;
    font-size: 20px;
    opacity: 1;
}
.content4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test{
    flex-basis: 31%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    /* margin: 10px; */
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

.test img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.name{
    margin-left: 50px;
}
.name i,.blue{
    color: rgb(23, 186, 255);
}
.desc{
    margin-top: 20px;
}
.test:hover{
    transform: translateY(-15px);
}
.footer{
    font-family: sans-serif;
    width: 100%;
    background-color: rgb(237, 237, 237);
    margin-top: 100px;
    position: relative;
    box-sizing: border-box;
    height: 80vh;
    text-align: center;
}
.back{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50px;
    left: 50%;
    opacity: 0.3;
    transform: translateX(-50%);
}
.footer h1{
    margin-bottom: 80px;
    margin-top: 30px;
}
.head1{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.head1 i{
    position: absolute;
    top: -15px;
    left: 44%;
    color: #059c8def;
    font-size: 40px;
    opacity: 0.5;
}
.footer h2{
    color: #009688;
    font-size: 20px;
    opacity: 1;
}
.content5{
    display: flex;
    width: 80%;
    position: absolute;
    top:300px ;
    margin: 0px auto 0px 10%;
    justify-content: space-between;
}
.open{
    text-align: left;
    line-height: 1.8;
}
.touch{
    text-align: right;
    line-height: 1.8;
}
.open i{
    margin-right: 10px;
    color: #009688;
}
.touch i{
    margin-left: 10px;
    color: #009688;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 42%;
}
.copyright i{
    margin: 0 4px;
    color: #009688;
    padding: 10px;
    border: 1.8px solid #009688;
}
.copyright p{
    margin: 20px auto;
}
#preLoader{
    background: #000 url("images/circle-loader.gif") no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}